* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;

}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
}

#result {
    width: 20em;
    height: 15em;
    background-color: white;
    border: 5px solid black;
    margin: 10px auto;
}

#start-btn {
    margin: 10px auto;
    font-size: 1.2em;
    padding: 10px 20px;
}

footer {
    text-align: center;
}
